.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
}

.front {
  background-color: rgb(59, 59, 218);
  -webkit-text-stroke-color: #FFFFFF;
}

.back {
  background-color: rgb(245, 245, 125);
  opacity: 0;
  -webkit-text-stroke-color: #1A2B3C;
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 12px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-size: 48px;
  font-weight: 800;
}

.out {
  animation: out 0.5s ease-in forwards;
}

.out-back {
  animation: out-back 0.5s 0.25s ease-out forwards;
}

@keyframes out {
  0% {
    opacity: 1;
    transform: 0;
  }

  100% {
    opacity: 0;
    transform: scale(5);
    display: none;
  }
}

@keyframes out-back {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.in {
  opacity: 0;
  animation: in 0.5s 0.25s ease-out forwards;
}

.in-back {
  animation: in-back 0.5s ease-in forwards;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: scale(5);
  }

  100% {
    opacity: 1;
    transform: 0;
  }
}

@keyframes in-back {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}