.c-card {
  position: relative;
  transition: transform 550ms ease-in-out, height 550ms ease-in-out;
  transform-style: preserve-3d;
  width: 400px;
  cursor: pointer;
}

.c-card__face {
  display: flex;
  border-radius: 2.5rem;
  padding: 3rem 2rem;
  box-sizing: border-box;

  color: #fff;
  background:linear-gradient(to top, #5c2727, #8a5454);

  transition: transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.c-card__face--front {
  z-index: 2;
}

.c-card__face--back {
  position: absolute;
  transform: rotateY(180deg);
}

/* .c-card__face--back.c-card__face--flipped {
  position: static;
} */

.is-flipped {
  transform: rotateY(180deg);
}